Write a function that takes in a natural number, n , and outputs the sum all natural numbers up to and including n.

i.e. 1 + 2 + 3 ... + n-1 + 1


e.g. 

input: 6

output: 21

Write a function that takes in a string and returns a string that is the reverse of the input string.

e.g.

input: Howard University

output: ytisrevinU drawoH

Write a function that asks the user to input a word, and then asks the user whether the letters in the word are uppercase or lowercase (For now, assume all input words will be made of either all upper or lowercase characters). The function should return the word converted to all uppercase if it was originally lowercase and vice versa. 

DO NOT use .upper and .lower

e.g.

Input your word:

bison

Is your word uppercase or lowercase?

lowercase

'BISON'

Write a function that takes a number as an argument and produces a list of all the factors of the number. 

e.g. 

Input: 300

Output: 1, 2, 3, 4, 5, 6, 10, 12, 15, 20, 25, 30, 50, 60, 75, 100, 150, 300

Write a function that takes a string as an argument and returns the number of times each character occurs in the string.

e.g.

input: "sandals"

output: 's': 2, 'a': 2, 'n': 1, 'd': 1, 'l': 1

Write a function that takes a string as an argument and returns the first unique character in the string.

e.g.

input: "hoorah!"

output: "r"

We are documenting student participation at Prom. 

Given that students will only dance in pairs, and every student will take the chance to dance with all other students, we want to know how many dances will take place.

Write a function that takes an integer representing the number of students in attendance as an argument and returns the number of pair dances that take place. 

e.g.

input: 3

output: 3